<!--users_index-->
<div class="container">
  <div class="row">

    <div class="col-md-3">
<%= render 'user_info', user: @user, book: @book%>
    </div>
    <div class="col-md-8 offset-md-1">

      <h2>Users</h2>

      <table class="table table-hover">
        <thead class="table-primary">
          <tr>
            <th scope="col">image</th>
            <th scope="col">name</th>
            <th scope="col"></th>
          </tr>
        </thead>
      <tbody>
        <% @user2.each do |user| %>
          <tr>
            <th scope="row">
              <% if user.profile_image.attached? %>
              <%= image_tag user.profile_image, size: "75x75" %>
              <% else %>
              <%= image_tag 'default-image', size: "75x75" %>
              <% end %>
            </th>
            <td><%= user.name %></td>
            <td>
              <%= link_to user_path(user.id) do %>
              Show
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
      </table>

    </div>
  </div>
</div>