<!--books_edit-->
<div class="container">
  <div class="row">
    <div class="col-lg-6 mx-auto">
      <h1>Editing Book</h1>
      <%= form_with model: @book do |f| %>
      <p class="mb-1">Title</p>
      <%= f.text_field :title, :size=>"50" %>
      <p class="mt-3 mb-1">Opinion</p>
      <%= f.text_area :body, :size=>"49.5x2"%>
      <div>
      <%= f.submit 'Update Book', class: "btn btn-success" %>
      </div>
      <% end %>
      <%= link_to book_path(@book.id) do%>
      Show
      <% end %>
      |
      <%= link_to books_path do%>
      Back
      <% end %>
      
    </div>
  </div>
</div>