<!--books_index-->


<div class="container">
  
  <% if @book.errors.any?%>
  <%= @book.errors.count%>errors prohibited this obj from being saved:
  <ul>
    <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

  <div class="row">

    <div class="col-md-3">
<%= render 'users/user_info', user: @user, book: @book%>
    </div>
    <div class="col-md-9">

      <h2>Books</h2>

      <table class="table table-hover">
        <thead class="table-primary">
          <tr>
            <th scope="col"></th>
            <th scope="col">Title</th>
            <th scope="col">Opinion</th>
          </tr>
        </thead>
      <tbody>
        <% @book2.each do |book| %>
          <tr>
            <th scope="row">
              <% if book.user.image.attached? %>
              <%= image_tag book.user.image, size: "75x75"%>
              <% else %>
              <%= image_tag 'default-image', size: "75x75" %>
              <% end %>
            </th>
            <td>
              <%= link_to book_path(book.id) do %>
              <%= book.title %>
              <% end %>
            </td>
            <td><%= book.body %></td>
          </tr>
        <% end %>
      </tbody>
      </table>

    </div>
  </div>
</div>