<!--books_show-->
<div class="container">
  <div class="row">
    
    <div class="col-md-3">
<%= render 'users/user_info', user: @user, book: @book%>
    </div>
    <div class="col-md-9">
      
      <h2>Book detail</h2>
      
      <table class="table">
        
      <tbody>
          <tr>
            <th>
              <% if @book2.user.image.attached? %>
              <%= image_tag @book2.user.image, size: "75x75" %>
              <% else %>
              <%= image_tag 'default-image', size: "100x100" %>
              <% end %>
              <p><a href="ここまだ">
                <%= link_to user_path(@book2.user) do%>
                  <%= @book2.user.name %>
                <% end %>
              </p>
            </th>
            <td><a href=""><%= @book2.title %></a>
            <td><%= @book2.body %></td>
            <td>
              <% if @book2.user == current_user %>
                <%= link_to edit_book_path(@book2), class: "btn btn-success" do%>
                Edit
                <% end %>
              <% end %>
            </td>
            <td>
              <% if @book2.user == current_user %>
                <%= link_to book_path(@book2), class: "btn btn-danger", method: :delete do%>
                Destroy
                <% end %>
              <% end %>
            </td>
          </tr>
      </tbody>
      </table>
      
    </div>
  </div>
</div>