<!--books_index-->
<div class="container">
  <div class="row">
    
    <div class="col-md-3">
<%= render 'users/user_info', user: @user, book: @book%>
    </div>
    <div class="col-md-9">
      
      <h2>Book detail</h2>
      
      <table class="table">
        
      <tbody>
          <tr>
            <th>
              <% if @book2.user.image.attached? %>
              <%= image_tag @book2.user.get_profile_image(100,100) %>
              <% else %>
              <%= image_tag 'default-image', size: "100x100" %>
              <% end %>
              <p><%= @book2.user.name %></p>
            </th>
            <td><a class="" href="/"><%= @book2.title %></a>
            <td><%= @book2.body %></td>
            <td>
              <% if @book2.user == current_user %>
              <a href="#" class="btn btn-success" role="button">Edit</a>
              <% end %>
            </td>
            <td>
              <% if @book2.user == current_user %>
                <button type="button" class="btn btn-danger">
                  <%= link_to "Destroy", book_path(@book2), method: :delete %>
                </button>
              <% end %>
            </td>
          </tr>
      </tbody>
      </table>
      
    </div>
  </div>
</div>