<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/75a98ceaff.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-dark bg-dark text-light mb-3">
        <div class="container">
        <a class="nav-link active text-light " href="/"><span>Bookers</span></a>
          <ul class="nav justify-content-end  ">
          <% if user_signed_in? %>
            <li class="nav-item ">
              <%= link_to user_path(current_user.id), class: "nav-link active text-light" do %>
              <i class="fas fa-home"></i>Home
              <% end %>
            </li>
            <li class="nav-item">
              <a class="nav-link active text-light" href="/users">
              <i class="fa-solid fa-users"></i>Users</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active text-light" href="/books">
              <i class="fas fa-books"></i><i class="fas fa-book"></i>Books</a>
            </li>
            <li class="nav-item">
              <%= link_to destroy_user_session_path, method: :delete, class: "nav-link active text-light" do%>
              <i class="fa-solid fa-right-from-bracket"></i>Log out
              <% end %>
            </li>
          <% else %>
            <li class="nav-item">
              <a class="nav-link active text-light" href="/">
              <i class="fas fa-home"></i>Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active text-light" href="/home/about">
              <i class="fa-solid fa-link"></i>About</a>
            </li>
            <li class="nav-item">
              <%= link_to new_user_registration_path, class: "nav-link active text-light" do %>
              <i class="fa-solid fa-user-plus"></i>Sign up
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to new_user_session_path, class: "nav-link active text-light" do %>
              <i class="fa-solid fa-right-to-bracket"></i>Log in
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
      </nav>
      <%= render 'devise/shared/flash' %>
    </header>

    <%= yield %>

    <footer class="footer ">
      <div class="mx-auto mt-5" style="width: 180px;">CopyRight Infratop.inc</div>
    </footer>
  </body>
</html>
